<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/criarPensamento" class="botao">Aidiconar pensamento</button><!--routerLink to redirect at localhost:4200/criarPensamento-->
  </header>
  <div class="mural">
    <div *ngFor="let pensamento of listaPensamentos">
      <app-pensamento [pensamento]="pensamento"></app-pensamento><!-- [pensamento] = is attribute "pensamento" at listar-pensamento.component.ts -->
    </div>
  </div>
</section>
